    @font-face {
        font-family: minhafonte;
        src: url('../fonts/fonte1.otf');
    }

*{
    background-color: black;
    font-family: minhafonte, sans-serif;
}
header{
    padding: 20px;
    background-color: black;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
}
h1{
    text-shadow: 1px 1px 1px red;
    color: rgb(214, 87, 129);
}
h3{
        background-color: rgb(235, 100, 147);
        color: rgb(210, 122, 200);
        text-shadow: 1px 1px 1px black;
        font-size: 1.6em;
}
button{
    padding: 10px;
    background-color: plum;
    width: 200px;
    border-radius: 10px;
    color: purple;
    cursor: pointer;
    border: 1px solid purple;
    box-shadow: 1px 1px 10px 1px purple;
    margin-right: 20px;
}
button:hover{
    background-color: pink;
    font-size: 1em;
}
main{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}
.card{
    box-shadow: 1px 1px 10px 1px black;
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 10px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    box-shadow: 1px 1px 10px 1px rgb(213, 86, 130);
    background-color: rgb(235, 100, 147);
    padding-top: 20px;
    padding-bottom: 20px;
}
#nao{
    position: absolute;
}
#texto{
    width: 50vw;
    padding: 10px;
}
p{
    padding: 20px;
    box-shadow: 1px 1px 10px 1px rgb(213, 86, 130);
    background-color: rgb(235, 100, 147);
        background-size: cover;
    background-repeat: no-repeat;
        color: black;
}
span{
     background-color: rgb(235, 100, 147);
    color: white;
}
#containerdois{
    padding: 20px;
    box-shadow: 1px 1px 10px 1px rgb(213, 86, 130);
    background-color: rgb(235, 100, 147);
    width: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
}
.containerbotao{
    background-color: rgb(235, 100, 147);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    position: relative;
}

#video{
        box-shadow: 1px 1px 10px 1px rgb(213, 86, 130);
    background-color: rgb(235, 100, 147);
    padding-top: 20px;
    padding-bottom: 20px;
}
video{
    background-color: rgb(235, 100, 147);
}